
.coin-section{
    width: 80%;
}

.coin-section__content {
    background: var(--grey6);
    border-radius: 20px;
    margin-top: 3.0rem;
    padding: 2.0rem;
}

.coin-content__container {
    display: flex;
    justify-content: space-between;
}

.coin-content__container .right {
    align-self: flex-end;
}

.coin-content__header{
    display: flex;
    align-items: center;
}

.coin-content__header svg {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.coin-content__details {
    font-size: 2.2rem;
    font-weight: 300;
    margin-top: 1.2rem;
    margin-bottom: 3.2rem;
}

.coin-content__endtime {
    font-size: 1.2rem;
}

.coin-content__endtime span{
    color: var(--grey1);
}

.coin-content__prices{
    font-size: 1.1rem;
    margin-top: 2.2rem;
}

.coin-content__prices p {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.coin-content__prices span{
    color: var(--grey2);
    margin-right: 8px;
    font-size: 1.2rem;
}
.coin-content__crypto-bets {
    display: flex;
}
.coin-content__crypto-bets .crypto-bet {
    margin: 0 .6rem;
    width: 14.0rem !important;
}

.coin-content__graph{
    text-align: center;
    margin-top: 5rem;
}

.coin-graph__tabs{
    display: flex;
    padding: 6px;
    border-radius: 8px;
    background: var(--page-bg);
    max-width: max-content;
}

.coin-graph__tabs button{
    margin: 0 3px;
}

@media all and (max-width: 500px) {
    .coin-section {
        width: 100% !important;
    }
    .coin-content__container {
        display: block;
    }
    .coin-section__content {
        background: var(--page-bg);
        border-radius: 0;
        margin-top: 0;
        padding: 0;
    }
    .coin-content__header{
        font-weight: 500;
        margin-top: 1.8rem;
        margin-bottom: 1.2rem;
    }
    .coin-content__header svg {
        width: 24px;
        height: 24px;
    }
    
    .coin-content__prices p {
        display: flex;
        justify-content: space-between;
    }

    .coin-content__crypto-bets {
        justify-content: space-between;
    }

    .coin-content__crypto-bets .crypto-bet {
        width: 48% !important;
        margin: 0 !important;
    }
}