.favourites {
    position: relative;
    overflow: hidden;
}

.matches-container {
    margin-top: 39rem;
}

.favourites__body {
    margin-top: 39rem;
}

@media all and (max-width: 500px) {
    .matches-container {
        margin-top: 46rem;
    }
    .favourites {
        padding-bottom: 16rem;
    }
}