@import "../../../css/colors/violet.css";

.home {
    overflow:hidden;
    position: relative;
}

.home__body {
    margin-top: 39rem;
}

.allmatches {
    margin-bottom: 3.0rem;
}

.allmatches__header {
    margin-bottom: 1.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-right: 1.5rem;
}
.allmatches__header p{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.allmatches__header svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.allmatches__body table{
    width: 100%;
}

.allmatches__body thead tr{
    background: var(--grey6);
    color: var(--grey1);
    padding: 5px;
}
.allmatches__body tbody tr:nth-child(even) {
    background: var(--grey6);
}

.match-tabs {
    padding: 1rem 1rem .8rem 1rem;
    background: var(--grey6);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
}

.match-tabs button {
    margin: 0 2px;
    border-radius: 3px;
}

.match-tabs-wrapper {
    display: inline-block;
}

.slide__container {
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    height: 37rem;
}

.slick-slider {
    height: 37rem;
}

.slick-list, .slick-track {
    height: 100%;   
}

.slider__wrapper {
    padding: 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.slider__wrapper::before, .slider__wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    z-index: 30;
}

.slider__wrapper::before{
    left: 0;
    background-image: linear-gradient(90deg, #141415, transparent);
}
.slider__wrapper::after {
    right: 0;
    background-image: linear-gradient(-90deg, #141415, transparent);
}

.slick-arrow.slick-prev {
    left: 25px !important;
    z-index: 50;
}

.slick-arrow.slick-next {
    right: 25px !important;
    z-index: 50;
}

.slide1 .slide__container{
   background: #00005D;
}
 .slide2 .slide__container{
    background: #C70E2D;
}
 .slide3 .slide__container{
    background: #00b96c;
}
.slide4 .slide__container {
    background: rgb(236, 37, 130);
}

/* slide when not active/center*/
.testimonials .slick-slide,
.testimonials .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
  transform: scale(0.7, 0.7);
  transition: transform 0.3s;
}
/* slide when active/center */
.testimonials .slick-center,
.testimonials .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
  transform: scale(1, 1);
}

@media all and (max-width: 500px) {
    .home {
        padding-bottom: 16rem;
    }
    .slider__wrapper::before, .slider__wrapper::after {
        display: none;
        width: 0;
        height: 0;
    }
    .home__body {
        margin-top: 45rem;
    }
    ul.slick-dots {
        bottom: -40px !important;
    }
    ul.slick-dots button::before {
        color: white !important;
    }

    ul.slick-dots li.slick-active button:before{
        color: var(--violet6) !important;
    }
    .slick-slide {
        width: 95vw;
    }
    .slick-dots li button:before{
        font-size: 7px;
    }
}     