
.leaderboard {
  max-width: 82%;
  margin: 30px auto;
}

.leaderboard__header {
  display: flex;
}

.leaderboard__header .left,
.leaderboard__header .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leaderboard__header {
  height: 220px;
  justify-content: space-between;
}
.leaderboard__header .left {
  width: 37%;
}

.leaderboard__text h1 {
  display: flex;
  align-items: center;
}

.leaderboard__text svg {
  margin-right: 15px;
}

.leaderboard__text p {
  color: var(--grey1);
  margin-top: 10px;
}

.table-search-input input{
  border: 1px solid var(--grey5);
  background: var(--grey6);
  border-radius: 5px;
  padding: 1rem;
  font-family: inherit;
  max-width: 100%;
  width: 250px;
  color: white;
  padding-left: 35px;
}

.table-search-input {
    position: relative;
    top: -35px;
}

.table-search-input img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.data-table {
    border-spacing: 0;
    margin-bottom: 2.5rem;
}

.table-header .table-row{
    background: var(--grey6);
}

.table-headings {
    text-align: left;
    padding: .8rem;
    text-transform: uppercase;
    color: var(--grey1);
    font-size: 1.1rem;
    font-weight: bold;
}

.gridjs-pagination {
    display: flex;
    align-items: center;
}

.gridjs-pages button{
    border-radius: 3px;
    padding: 1.0rem 1.6rem;
    background: var(--grey6);
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: 0 4px;
    font-family: inherit;
}

.gridjs-currentPage {
    background-color: var(--violet6) !important;
}

.gridjs-pages button:first-child, .gridjs-pages button:last-child{
    font-size: 1.8rem;
}

.gridjs-summary {
    font-weight: 200;
    width: 40%;
}


@media all and (max-width: 500px) {
    .leaderboard {
        max-width: 100%;
        margin: 10px 0;
    }
    .leaderboard__header {
        display: block;
        height: auto;
    }
    .leaderboard__header .left, .leaderboard__header .right {
        display: block;
        width: 100%;
    }

    .gridjs-pagination {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
    .gridjs-summary{
        width: 100%;
        text-align: center;
        margin-bottom: 18px;
    }
    .gridjs-wrapper {
        overflow-x: scroll;
    }
    .gridjs-wrapper::-webkit-scrollbar{
        height: 3px;
        border-radius: 3px;
    }
    .gridjs-wrapper::-webkit-scrollbar-track {
        background: var(--grey6);
        border-radius: 3px;
    }
    .gridjs-wrapper::-webkit-scrollbar-thumb{
        background: var(--violet6);
    }
    .leaderboard .table-search-input{
        top: 0px;
        margin: 15px 0;
    }
    .leaderboard .table-search-input input {
        width: 100%;
    }
}