

.match {
    margin-bottom: 3.0rem;
    overflow: scroll;
}

.match::-webkit-scrollbar{
    display: none;
}

.match__header {
    margin-bottom: 1.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
}
.match__header p{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.match__header button{
    border-radius: 3px;
}

.match__header svg {
    margin-right:8px;
    width: 18px;
    height: 18px;
}

.match__body table{
    width: 100%;
}

.match__body thead tr{
    background: var(--grey6);
    color: var(--grey1);
    padding: 5px;
}
.match__body tbody tr:nth-child(even) {
    background: var(--grey6);
}
.match__body tbody tr:nth-child(odd) {
    background: var(--page-bg);
}