
@import "../../../css/colors/red";
@import "../../../css/colors/grey";

.match__body th:nth-child(1){
    text-align: left;
}

.match__body th {
    font-weight: normal;
    font-size: 1.1rem;
}

.match__body th {
    padding: 10px;
}

.match__body .winner-container, .match__body .info{
    padding: 10px 0px;
}

.match__body .info, .match__body .time, .match__body .winner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.match__body .info{
    flex-direction: column;
}

.match__body .scores {
    display: flex;
    align-items: center;
}

.match__body .scores .score {
    margin: 0 10px;
}

.match__body .tournament {
    display: flex;
    align-items: center;
    color: var(--grey3);
    text-transform: capitalize;
    margin-bottom: .5rem;
}

.match__body .tournament p {
    font-size: 1.2rem;
}

.match__body .tournament-icon {
    margin-right: 5px;
}

.match__body .team-left, .match__body .team-right {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.team-left p {
    text-align: right;
    word-break: break-word;
}

.team-right p {
    text-align: left;
    word-break: break-word;
}

.match__body .team-left img {
    margin-left: 5px;
}
.match__body .team-right img {
    margin-right: 5px;
}

.match__body .scores {
    margin-top: 6px;
}

.match__body .score {
    margin: 0 15px;
}

.match__body .score-numbers{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0 1.4rem;
    padding: 8px;
    position: relative;
}

.match__body .score-numbers.on-bets-show {
    margin: 0;
}

.match__body .highlight-scores {
    border-radius: 5px 5px 0px 0px;
    background: var(--grey6);
}

.match__body .score-numbers::before, .match__body .score-numbers::after {
    content: "";
    position: absolute;
    background: var(--grey3);
    width: 20px;
    height: 1px;
    top:50%;
    transform: translateY(-50%);
}

.match__body .score-numbers::before {
    left: -2.4rem;
}
.match__body .score-numbers::after {
    right: -2.4rem;
}

.score-numbers.on-bets-show::before, .score-numbers.on-bets-show::after {
    display: none;
}

.match__body .scores-border-conainer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: var(--red2);
    border-radius: 2px;
}

.match__body .scores-border-conainer .scores-border {
    background: var(--red6);
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2px;
}

.match__body .time__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.match__body .time__content p {
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.match__body .time__content.live {
    color: var(--red6);
}

.match__body .time__content.live p {
    font-size: 1.4rem;
}

.winner-container .ratios {
    display: flex;
    align-items: center;
}

.winner-container .ratio {
    margin: 0 5px;
}

.bets-container-opened .ratio {
    margin: 0 3px;
}

.winner-container .ratio.not-btn{
    background: var(--grey5);
    color: white;
    width: 6.5rem;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
}

.winner-container .ratio.not-btn.no-bg {
    background: transparent !important;
    color: var(--grey3);
}

td.info-container {
    width: 45%;
}

td.time-container {
    width: 10%;
}

td.winner-wrapper {
    width: 45%;
}

@media all and (max-width: 500px) {
    .match__body tbody {
        display: flex;
        overflow: scroll;
    }
    .match__body tbody tr {
        display: flex;
        margin-right: 10px;
        border: 1px solid var(--grey6);
        flex-direction: column;
        width: 90vw;
        padding: 0 5px;
        align-items: center;
        background: transparent !important;
    }
    .match__body thead {
        display: none;
    }
    .team-left p, .team-right p {
        max-width: 60px !important;
        word-wrap: break-word;
    }
    .match__body td {
        width: 100%;
    }
    .match__body .scores{
        width: 100%;
        justify-content: center;
    }
    .match__body .time__content {
        margin: 4px 0;
    }
    .match__body .time__content {
        flex-direction: row;
    }
    .time__content p {
        margin: 0 3px;
    }
    .match__body .ratios {
        width: 100%;
        justify-content: center;
    }

    .match__body .ratios .ratio{
        width: 65px;
        height: 65px;
    }
    .match__body .ratios .ratio button{
        width: 100%;
        height: 100%;
    }
}
