
@import "../../../css/colors/grey";

.match {
    margin-bottom: 3.0rem;
}

.match__header {
    margin-bottom: 1.0rem;
}
.match__header p{
    display: flex;
    font-size: 1.4rem;
    align-items: center;
}

.match__header svg {
    margin-right: 10px;
    color: white !important;
    width: 18px;
    height: 18px;
}

.match__body table{
    width: 100%;
}

.match__body thead tr{
    background: var(--grey6);
    color: var(--grey1);
    padding: 5px;
}
.match__body tbody tr:nth-child(even) {
    background: var(--grey6) !important;
}