.mybets-page{
    width: 82%;
    margin: 0 auto;
}

.mybets-page img.mybets-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;
}

.mybets-page__header .user-wins {
    margin: 2rem 0 6.0rem 0;
}

.mybets-page__header .user-wins-holder {
    position: relative;
    z-index: 1;
    height: 360px;
    width: 33%;
    margin: 0 auto;
}

.mybets-page__header .user-wins-holder img {
    position: absolute;
}

.user-wins-holder .user-wins--ribbon{
    left: 50%;
    top: 80%;
    width: 57%;
    z-index: 10;
    transform: translate(-50%, -80%);
}

.user-wins-holder .user-wins--dashed_border {
    top: 50%;
    width: 86%;
    z-index: 5;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-wins-holder .user-wins--curve {
    z-index: 10;
    right: 0;
    bottom: 0;
}

.user-wins-holder .user-wins--avatar_holder {
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.user-wins-holder .user-wins--avatar {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.mybets-page__header .user-wins--btn {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 1.5rem;
    background: var(--grey6);
    border-radius: 10px;
    z-index: 10;
}

.mybets-page .bets-money {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media all and (max-width: 500px) {
    .mybets-page__header .user-wins {
        display: none;
    }
    
}