

.mybets-page{
    width: 82%;
    margin: 0 auto 100px auto;
}

.mybets-page img.mybets-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;
}
.mybets-page__header .user-wins {
    display: flex;
    margin: 2rem 0 6.0rem 0;
    justify-content: center;
}

.mybets-page__header .user-wins-holder {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    display: inline-block;
}

.user-wins-holder .user-wins--ribbon{
    position: absolute;
    left: 50%;
    top: 80%;
    z-index: 10;
    transform: translate(-50%, -80%);
}

.user-wins-holder .user-wins--avatar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.mybets-page__header .user-wins--btn {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 1.5rem;
    background: var(--grey6);
    border-radius: 10px;
    z-index: 10;
}

.mybets-page .bets-money {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mybets-table-headings{
    font-size: 1.2rem;
}

.mybets-table-headings[data-column-id="id"] {
    padding-left: 2.6rem;
}

.mybets-table-headings[data-column-id="currency"] {
    text-align: left;
}

.mybets-table-headings[data-column-id="amount"] {
    text-align: left;
}

.mybets-table-body .mybets-table-row:nth-child(even) {
    background: var(--grey6);
}

.mybets-table-body .mybets-table-row:nth-child(odd) {
    background: var(--page-bg);
}

.mybets-table-row .mybets-table-data:first-child {
    border-left: 1px solid var(--grey6);
    text-align: center;
    padding-left: 1.8rem;
}
.mybets-table-row .mybets-table-data:last-child {
    border-right: 1px solid var(--grey6);
}

.mybets-page .gridjs-wrapper .gridjs-table {
    border-spacing: 0;
    width: 100%;
    margin-bottom: 2.5rem;
}

.mybets-table-header .mybets-table-row{
    background: var(--grey6);
}

.mybets-table-headings{
    padding: .8rem;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--grey1);
}

.mybets-table-data {
    padding: 1rem 0;
}

.mybets-table-data .result, .mybets-table-data .status {
    padding: .5rem 1rem;
    border-radius: 4px;
    text-align: center;
    width: 6rem;
}

.mybets-table-data .status {
    width: auto;
}

.mybets-table-data .result-wrapper, .mybets-table-data .status-wrapper {
    display: flex;
    justify-content: center;
}

.mybets-table-data .result.win {
    color: var(--green6);
    background: var(--green2);
}
.mybets-table-data .result.lose {
    color: var(--red6);
    background: var(--red2);
}
.mybets-table-data .result.active {
    color: var(--violet6);
    background: var(--violet2);
}

.mybets-table-data .status.completed {
    background: var(--green2);
    color: var(--green6);
}
.mybets-table-data .status.pending {
    background: var(--grey5);
    color: white;
}
.mybets-table-data .status.failed {
    background: var(--red2);
    color: var(--red6);
}
.mybets-table-data .status.transferring {
    background: var(--violet2);
    color: var(--violet6);
}

.mybets-table-data[data-column-id="amount"] {
    width: 13%;
}

.mybets-table-data .amount {
    margin-left: .8rem;
}

.mybets-table-data .amount--pool {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 300;
}

.mybets-table-data[data-column-id="win-loseAmount"] p {
        text-align: center;
}   

.mybets-table-data .amount--win{
    color: var(--green6);
    font-weight: 500;
}
.mybets-table-data .amount--lose{
    color: var(--red6);
    font-weight: 500;
}
.mybets-table-data .amount--active{
    color: var(--violet6);
    font-weight: 500;
}

.mybets-table-data .match-teams {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mybets-table-data .match-teams p{
    font-weight: 400;
}

.mybets-table-data .match-teams span {
    margin: 6px 0;
    font-size: 1.0rem;
    font-weight: 300;
}

.mybets-table-data .coef {
    background: var(--grey5);
    padding: 4px 2rem;
    border-radius: 3px;
    width:7.5rem;
}

.mybets-table-data .coef p {
    text-align: center;
}

.mybets-table-data .coef-wrapper{
    display: flex;
    justify-content: center;
}

.mybets-table-data .date-time p{
    text-align: center;
    font-size: 1.2rem;
}

.mybets-table-data[data-column-id="withdrawl"]{
    width: 14%;
}

.mybets-table-data .withdrawl{
    color: var(--grey1);
    padding-right: 10px;
    text-align: center;
}

.gridjs-wrapper {
    position: relative;
}

.toggle-btns {
    position: absolute;
    top: -4.4rem;
    left: 0;
    padding: 8px 8px 6px 8px;
    background: var(--grey6);
    border-radius: 10px 10px 0 0;
}

.toggle-btns__content{
    display: flex;
}

.toggle-btns button{
    padding: 7px;
    font-weight: 400;
    margin-right: 3px;
    border-radius: 3px;
}

 .mybets-page .table-search-input {
    top: -5.5rem;
}

.mybets-table-data .link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 200;
    cursor: pointer;
}

.topups__table .mybets-table-data {
    padding: 1.5rem 0;
}


@media all and (max-width: 500px) {
    .mybets-page__header .user-wins {
        display: none;
    }
    .mybets-page {
        width: 100% !important;
    }
    .mybets-table-data{
        padding-left: 12px;
        padding-right: 12px;
    }
    .mybets-table-data[data-column-id="amount"]{
        width: 100%;
    }

    .mybets-table-data .amount-wrapper {
        width: 120px;
        margin-left: -4px;
    }

    .mybets-table-data .amount{
        margin-left: 0;
    }

    .mybets-table-data .match-teams{
        width: 140px;
    }
    .mybets-table-data[data-column-id="date/time"] .date-time {
        width: 115px;
    }
   .mybets-table-data[data-column-id="date/time"]{
       padding: 0;
   }
   .mybets-table-headings[data-column-id="id"]{
       padding-left: 8px;
   }
   .mybets-page .bets-money{
       flex-direction: column;
   }
   .bets-money__item{
       width: 100%;
       margin-bottom: 12px;
   }

   .mybets-page .toggle-btns {
       top: 3.6rem;
   }

   
   .mybets-page .gridjs-table{
    margin-top: 6rem;
}

   .gridjs-wrapper {
       padding-top: 20px;
   }

   .mybets-page .table-search-input {
       top: 2rem;
   }

   .mybets-table-data[data-column-id="status"] {
       padding-right: 20px;
       padding-left: 20px;
   }
}