@import "./colors/grey";

.balance {
  position: relative;
}

.balance button{
  margin-left: 0;
}

.balance-container {
  display: flex;
  background: var(--grey5);
  align-items: stretch;
  border-radius: 5px;
  cursor: pointer;
}

.account-popup {
  position: absolute;
  left: 50%;
  top: calc(100% + 14px);
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 10px;
  background: var(--grey6);
  border: 1px solid var(--grey5);
  color: white;
  width: 32rem;
  z-index: 100;
}

.account-popup p {
  font-size: 1.2rem;
}

.account__header .user {
  display: flex;
  justify-content: space-between;
  background: var(--grey5);
  border-radius: 5px;
  margin: 1.2rem 0;
}

.account__header .user__info {
  display: flex;
  align-items: center;
  flex-basis: 80%;
}

.account__header .user span {
  font-size: 1.2rem;
  font-weight: normal;
  margin-left: .6rem;
  margin-right: 3.5rem;
}

.account__header .user__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 20%;
  margin-right: .8rem;
}

.account__body {
  border-top: 1px solid var(--grey5);
  border-bottom: 1px solid var(--grey5);
  padding: 10px;
}

.account__body .btns {
  margin: 1.0rem 0;
  display: flex;
  justify-content: space-between;
}


.account__body .btns button {
  width: 48%;
  padding: 8px;
}

.account__footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.balance-container .right {
  display: flex;
  align-items: center;
}

.balance-container .left {
  display: flex;
  flex-direction: column;
  padding: 4px 10px;
  text-align: right;
}

.balance-container .left span {
  color: var(--grey2);
  font-size: 1.1rem;
}

.balance-container .left p {
  font-size: 1.4rem;
  color: white;
  padding-top: 3px;
  display: flex;
  align-items: center;
}

.balance-container .left svg {
  width: 14px;
  height: 14px;
  margin-right: 3px;
}

@media all and (max-width: 500px) {
  .balance-container .left {
    padding: 5px;
  }
  .balance-container {
    margin-right: -6px;
  }
  .account-popup {
    position: fixed;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    width: 92%;
  }
}
