@import url("./colors/grey.css");
@import url("./colors/green.css");
@import url("./colors/red.css");

.bets {
  height: 80rem;
  width: 34.5rem;
  margin-right: 2.5rem;
  background: var(--grey6);
  padding: 1.2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bets__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem;
  background: var(--page-bg);
  border-radius: 10px;
  margin-bottom: .8rem;
}

.bets__header button {
  flex: 1;
}

.bets__body {
  overflow-y: hidden;
  height: 100%;
  padding-bottom: 80px;
}

.bets__content {
  margin-top: 1.0rem;
  overflow-y: scroll;
  margin-bottom: 1.0rem;
  height: 100%;
  padding-right: 7px;
  padding-bottom: 10px;
}

.bets__content::-webkit-scrollbar {
  width: 3px;
}

.bets__content::-webkit-scrollbar-track{
  background: transparent;
}

.bets__content::-webkit-scrollbar-thumb {
  background: var(--violet6);
}

.bets__content::-webkit-scrollbar-thumb:hover {
  background: var(--violet6);
}

.bets__body.not-connected-wrapper {
  padding-top: 15rem;
  display: flex;
  justify-content: center;
}


.not-connected {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
}

.not-connected .text-muted {
  margin-bottom: 4px;
}


.not-connected hr {
  width: 100%;
  border: 1px solid var(--grey5);
  margin: 3rem 0;
}

.not-connected .btn-primary {
  margin-top: 1.5rem;
}


.bets__body.no-bets-container {
  padding-top: 15rem;
  display: flex;
  justify-content: center;
}


.no-bets {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
}

.no-bets .text-muted {
  margin-bottom: 4px;
}

.bets__footer-wrapper{
  justify-self: flex-end;
}

.bets__footer {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background: var(--page-bg);
    padding: 1.0rem;
    border-radius: 1.0rem;
    cursor: pointer;
}

.bets__footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.bets__footer span {
  margin-left: 5px;
}

.match-winner , .cryptobet-in-bets{
  background: var(--grey5);
  border-radius: 10px;
  padding: 10px;
}

.match-winner .match-winner__header {
  display: flex;
  justify-content: space-between;
}

.match-winner .match-winner__header .left {
  display: flex;
  align-items: center;
}

.match-winner__header .left p {
  color: var(--grey2);
}

.match-winner__header .left span{
  color: var(--grey3);
  margin: 0 11px;
}

.match-winner__header svg {
  cursor: pointer;
}

.match-winner .match-winner__body p, .cryptobet-in-bets .cryptobet-in-bets__body{
  color: white;
  margin: 8px 0;
}

.cryptobet-in-bets__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.match-winner .match-winner__footer p, .cryptobet-in-bets .cryptobet-in-bets__footer {
  color: var(--green6);
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.match-winner__footer svg{
  margin-right: 4px;
}

.cryptobet-in-bets__footer svg  {
  margin-right: 4px;
  width: 18px;
  height: 18px;
}


.bets__body .match-winner, .bets__body .cryptobet-in-bets {
  margin: 10px 0;
}

.bets__body .winners-container {
  margin-top: 2.0rem;
}

.winners-container .about-container {
  display: flex;
  align-items: center;
}

.winners-container .about-container {
  font-size: 1.2rem;
}

.my-bets {
  margin-top: 3.0rem;
}

.winners-container .about-container svg{
  margin-right: 8px;
  width: 2.0rem;
  height: 2.0rem;
  color: white !important;
}

.min-max{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--grey2);
  border: 1px solid var(--grey5);
  padding: 8px;
  border-radius: 5px;
  margin: 12px 0;
}

.bets__body .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.bets__body .details .left, .bets__body .right {
  display: flex;
}

.bets__body .details p, .bets__body .details span {
  font-size: 1.2rem;
}

.bets__body .details .left span {
  color: var(--violet6);
}

.details .left span, .details .right span {
  margin-right: 5px;
  color: var(--grey3);
}

.min-max .left, .min-max .right{
  display: flex;
  align-items: center;
}

.min-max .left p, .min-max .right button {
  margin-left: 8px;
}

.odds {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.odds p {
  font-size: 1.2rem;
}

.odds span {
  color: var(--green6);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.odds span svg {
  margin-right: 5px;
}

.amounts{
  display: flex;
  margin-top: 1.5rem;
}
.amounts .bet-amount {
  flex: 1;
  border-radius: 10px;
  margin: 0 .2rem;
  padding: 10px;
}

.amounts .amount {
  margin-top: 6px;
  font-weight: bold;
}

.amounts .bet-amount {
  background: var(--grey5);
  color: white;
}

.amounts .win {
  flex: 1;
  border-radius: 10px;
  margin: 0 .5rem;
  padding: 10px;
}

.amounts .bet-won {
  background: var(--green6);
  color: white;
}
.amounts .bet-lose {
  background: var(--red6);
  color: white;
}

.amounts .possible-win {
  background: var(--green2) !important;
  color: var(--green6) !important;
}

.place-bet__header {
  display: flex;
  justify-content: space-between;
}

.place-bet__header .win {
  color: var(--green6);
}

.place-bet__header p {
  font-size: 1.2rem;
}

.place-bet button {
  width: 100%;
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}


@media all and (max-width: 500px) {
  .bets {
    width: 100%;
    margin-right: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 60px;
  }

  .bets__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 0;
    border-radius: 0;
    cursor: none;
    margin-top: 1.0rem;
  }

  .bets__footer.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--page-bg);
    padding: 10px;
  }

  .bets__footer .left {
    background: var(--page-bg);
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-right: 1rem;
  }
  .bets__footer button svg{
    margin-right: 0;
   }
}
