@import url("./colors/grey.css");

.bets {
  height: 80.0rem;
  width: 35.0rem;
  margin-right: 2.5rem;
  background: var(--grey6);
  padding: 1.8rem;
  border-radius: 2.0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bets__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.0rem;
    background: var(--page-bg);
    border-radius: 10px;
}

.bets__header button{
    flex: 1;
}

.bets__body{
    height: 100%;
}

.bets__body.not-connected-wrapper {
    padding-top: 15.0rem;
    display: flex;
    justify-content: center;
}

.not-connected {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.not-connected .text-muted {
    margin-bottom: 4px;
}

.not-connected hr {
    width: 100%;
    border:1px solid var(--grey5);
    margin: 3.0rem 0;
}

.not-connected .btn-primary {
    margin-top: 1.5rem;
}

.bets__footer {
    justify-self: flex-end;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background: var(--page-bg);
    padding: 1.0rem;
    border-radius: 1.0rem;
    cursor: pointer;
}

.bets__footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.bets__footer span {
    margin-left: 5px;
}