


.btn {
    border: 0;
    outline: none;
    cursor: pointer;
    color: white !important;
    font-family: inherit;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.3rem;
}
.btn svg {
    margin-right: 4px;
}
button:disabled, button[disabled]{
    background: var(--grey3);
    cursor: not-allowed;
    color: var(--grey1);
}
button:disabled:hover, button[disabled]:hover{
    background: var(--grey3);
    border: 0;
    box-shadow: none;
}

/* Button types */
.btn-secondary {
    border: 1px solid var(--violet6);
}

/* Button colors */
.btn--primary-color {
    background: var(--primary-btn);
    box-shadow: 0px 0px 10px rgba(116, 62, 232, 0.5);
}
.btn--secondary-color {
    background: var(--violet3);
}
.btn--small-size.btn--red-color {
    background: var(--red6);
}
.btn--small-size.btn--green-color {
    background: var(--green6);
}
.btn--small-size.btn--grey-color{
    background: var(--grey5);
}
.btn--small-size.btn--violet-color {
    background: var(--violet6);
}
.btn-secondary.btn--green-color {
    background: var(--green3);
    border: 1px solid var(--green6);
}
.btn-secondary.btn--grey-color {
    background: var(--grey5);
    border: 1px solid var(--grey3);
}

/* Button styles */
.btn--normal-size {
    padding: 1rem;
}
.btn--small-size {
    padding: 6px;
    font-weight: normal;
}

/* Hover and active colors */
.btn--primary-color:hover {
    background: linear-gradient(90deg, #BF5AF2 0%, #743EE8 100%);
    box-shadow: 0px 0px 10px rgba(116, 62, 232, 0.5);
}
.btn--primary-color:active {
    background: linear-gradient(90deg, #BF5AF2 0%, #743EE8 100%);
}
.btn--secondary-color:hover {
    background: var(--violet6);
    border: 1px solid var(--violet6);
}
.btn--secondary-color:active {
    background: var(--violet4);
}
.btn-secondary.btn--green-color:hover {
    background: var(--green6);
    border: 1px solid var(--green6);
}
.btn-secondary.btn--green-color:active {
    background: var(--green4);
}
.btn-secondary.btn--grey-color:hover {
    background: var(--grey3);
    border: 1px solid var(--grey3);
}
.btn-secondary.btn--grey-color:active {
    background: var(--grey5);
}

.btn--primary-color.btn--small-size{
    box-shadow: none;
}
.btn--primary-color.btn--small-size:hover {
    box-shadow: none;
}

/* Styles for bet button */
.bet-button{
    background: var(--grey5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6.5rem;
    height: 6.5rem;
    font-weight: 600;
}
.bet-button:hover {
    background: var(--green2);
    border: 1px solid var(--green6);
}
.bet-button:active {
    background: var(--green1);
    border: 1px solid var(--green1);
}

.bet-button:focus{
    background: var(--green6);
    border: 1px solid var(--green6);
}

.bet-button:focus p:nth-child(1) {
    color: white;
}

.bet-button:focus p:nth-child(2) {
    color: black;
}

.bet-button p:nth-child(1) {
    color: var(--grey2);
}

.btn-transparent {
    background: transparent;
    color: #48484A !important;
    box-shadow: none;
}

.btn-transparent svg {
    margin-right: .5rem;
}

.btn-transparent:hover {
    background: transparent;
    border: 0;
    box-shadow: none;
}