@import url("./colors/grey.css");

/* Header content */
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header left and right */
.header__left {
  display: flex;
  align-items: center;
}
.header__left svg {
  margin-right: 1.8rem;
  cursor: pointer;
}

.header__right {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}

.header__right .btn--green-color svg{
    width: 2.0rem;
    height: 2.0rem;
}

.header__right .active button {
  background: var(--green4) !important;
  border: 0 !important;
  padding: 8px !important;
}

.header__right button {
  margin-left: 1.8rem;
}

.mybets-page-link button{
  padding: 8px;
}

@media all and (max-width: 500px) {
  .header__content {
    padding: 2rem;
  }
  .header__right button {
    margin-left: 0;
  }
  .header__right button svg {
    margin-right: 0;
  }
  .header__right {
    margin-right: 0;
  }
  .header__right .hamburger-btn {
    padding: 0;
    margin-left: 1.5rem;
  }
}
