
.main-wrapper {
    display: flex;
}

.content-wrapper {
    display: flex;
    padding-bottom: 70px;
}

.section, .content {
    flex: 1;
}

@media all and (max-width: 500px) {
    .section{
        overflow: hidden;
    }
    
    .content {
        min-width: 100%;
    }

}