
.main-wrapper {
    display: flex;
}

.content-wrapper {
    display: flex;
    color: white;
}

.section, .content {
    flex: 1;
}

.content {
    padding: 10px 20px 10px 5px;
}

.home, .favourites, .live-matches, .crypto, .leaderboard {
    padding-bottom: 10.0rem;
}

.show-hide-bets-container {
    display: inline-block;
    position: fixed;
    right: 2.5rem;
    bottom: 12.5rem;
    z-index: 700;
  }
  
.show-hide-bets-container button {
    border-radius: 10px;
    padding: 11px 12px;
  }
  
  .show-hide-bets-container button svg {
    width: 32px;
    height: 32px;
    margin-right: 0;
  }
  
  .show-hide-bets-container .bets-notifs {
    position: absolute;
    top: -5px;
    right: -5px;
    background: var(--green6);
    color: black;
    font-weight: 700;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .show-hide-bets-container .bets-notifs p {
    font-size: 1.6rem;
  }

  .page-bg {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
  }

@media all and (max-width: 500px) {
    .section{
        overflow: hidden;
    }
    
    .content {
        min-width: 100%;
        padding: 10px 15px 15px 15px;
    }

    .live-matches {
        width: 100% !important;
    }

    .favourites {
        width: 100% !important;
    }

}