
.main-wrapper {
    display: flex;
}

.content-wrapper {
    display: flex;
}

.section {
    flex: 1;
}

.content {
    flex: 1;
}

@media all and (max-width: 500px) {
    .content, .section{
        overflow: hidden;
    }
}