
@import url("./colors/grey.css");
@import url("./colors/violet.css");
@import url("./colors/red.css");

/* Navbar */
.navbar {
    padding-right: 1.2rem;
    margin-bottom: 2.0rem;
    color: white;
}

.navbar__header {
    padding: 2.0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navbar__header .search-input-container {
    align-self: center;
    width: 100%;
    margin-top: 1.5rem;
}

/* Navbar list */
.navbar__main-items-container ul {
    border-radius: 0px 14px 14px 0px;
    overflow: hidden;
}

.navbar__item{
    margin: 1px 0;
}

/* Navbar item */
.navbar__item {
    color: white;
    padding: 16px 10px 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    background-color: var(--grey6);
    font-size: 1.4rem;
}

/* Navbar item content */
.navbar__item .left, .navbar__item .right {
    display: flex;
    align-items: center;
}

.navbar__item-text {
    margin-left: 6px;
}

.navbar__item-number {
    font-size: 1.1rem;
    background-color: var(--grey5);
    border-radius: 5px;
    padding: 4px 6px;
    margin-right: .8rem;
}

/* Hover/Active effects */
.navbar__item:hover {
    background: var(--violet2);
    color: white;
}
.navbar__item:hover svg {
    color: var(--violet6) !important;
}

/* Dropdown menu */
.navbar__dropdown-items-container{
    margin-top: 2.0rem;
}

.navbar__dropdown-items .navbar__item:hover svg{
    color: var(--grey2) !important;
}

.navbar__dropdown-items {
    margin-bottom: 1.0rem;
    overflow: hidden;
    transition: all .1s ease-in-out;
}

.navbar__item--dropdown{
    background: transparent;
}

.navbar__dropdown-item .navbar__item {
    margin: 0;
}

.navbar__dropdown-items .navbar__item {
    padding: 12px 10px 12px 20px;
    margin-bottom: 1px;
}

.navbar__dropdown-items .navbar__item p {
    color: #ffffffde;
    font-weight: 400;
}


/* Active Navbar item */
.navbar__main-items-container .navbar__item.active svg, .active-navbar-item svg{
    color: var(--violet6) !important;
}

.navbar__item.active .navbar__item-number, .active-navbar-item .navbar__item-number{
    background-color: var(--violet6);
}

.navbar__item.active, .active-navbar-item {
    background-color: var(--violet2);
    position: relative;
}

.navbar__dropdown-item{
    overflow: hidden;
}

.active-border {
    background: linear-gradient(180deg, #743EE8 0%, #BF5AF2 100%);
    border-radius: 0px 5px 5px 0px;
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.navbar__main-items-container .navbar__item.active .active-border {
    display: block;
}

.navbar__item-live .left{
    color: var(--red6) !important;
}

.navbar__item-live.active{
    background-color: var(--red1) !important;
}

.navbar__item-live.live-active {
    background-color: var(--red1) !important;
}

.navbar__item-live.live-active svg {
    color: var(--red6) !important;
}

.navbar__item-live.active .active-border {
    display: block;
    background: var(--red6);
}

.navbar__item-live .navbar__item-number {
    background-color: var(--red6) !important;
}

input[type="radio"] {
    margin-right: 8px;
}

.radio-icon {
    width: 14px;
    height: 14px;
    background: var(--grey2);
    border-radius: 3px;
    position: relative;
    margin-right: 8px;
}

.radio-active {
    border-radius: 50%;
    background: white;
}
.radio-active .active-radio-circle{
    background: var(--violet6);
    position: absolute;
    width: 8px;
    border-radius: 50%;
    height: 8px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.live-checkbox-active {
    position: relative;
    background: transparent !important;
}

.live-checkbox-active-inner svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.live-navbar-items {
    margin-top: 2.0rem;
}

.crypto-coins-type {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.crypto-coins-type p {
    font-size: 1.3rem;
    cursor: pointer;
}

.crypto-coins-type .radio-input{
    display: flex;
}

@media all and (max-width: 500px) {
    .navbar__header{
        padding-top:0;
    }
    .navbar--mobile {
        margin-bottom: 80px;
    }
    .navbar {
        overflow-y: scroll;
        height: 73vh;
        padding-bottom: 10px;
    }
    .navbar::-webkit-scrollbar{
        display: none;
    }
}