
@import url("./colors/grey.css");
@import url("./colors/violet.css");
@import url("./colors/red.css");

/* Navbar */
.navbar {
    padding-right: 15px;
}
.navbar__header {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navbar__header .search-input-container {
    align-self: center;
    width: 100%;
    margin-top: 15px;
}

/* Navbar list */
.navbar__main-items-container ul {
    border-radius: 0px 16px 16px 0px;
    overflow: hidden;
}

.navbar__item{
    margin: 1px 0;
}

/* Navbar item */
.navbar__item {
    color: white;
    padding: 16px 10px 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    background-color: var(--grey6);
}

/* Navbar item content */
.navbar__item .left, .navbar__item .right {
    display: flex;
    align-items: center;
}

.navbar__item-text {
    margin-left: 6px;
}

.navbar__item-number {
    font-size: 1.1rem;
    background-color: var(--grey5);
    border-radius: 5px;
    padding: 4px 6px;
    margin-right: 8px;
}

/* Hover/Active effects */
.navbar__item:hover {
    background: var(--violet2);
}
.navbar__item:hover svg {
    color: var(--violet6) !important;
}
.navbar__item:active {
    background: var(--violet1);
}

/* Dropdown menu */
.navbar__dropdown-items-container{
    margin-top: 20px;
}

.navbar__dropdown-items .navbar__item {
    padding: 10px 12px 10px 20px;
}

.navbar__dropdown-items .navbar__item:hover svg{
    color: var(--grey2) !important;
}

.navbar__dropdown-items {
    margin-bottom: 10px;
}

.navbar__item--dropdown{
    background: transparent;
}


/* Active Navbar item */
.active-navbar-item svg{
    color: var(--violet6) !important;
}

.active-navbar-item .navbar__item-number{
    background-color: var(--violet6) !important;
}

.active-navbar-item {
    background-color: var(--violet2);
    position: relative;
}

.navbar__dropdown-item{
    overflow: hidden;
}

.active-border {
    background: linear-gradient(180deg, #743EE8 0%, #BF5AF2 100%);
    border-radius: 0px 5px 5px 0px;
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.navbar__item-live .left{
    color: var(--red6);
}

.navbar__item-live .navbar__item-number {
    background-color: var(--red6);
}