
@import url("./colors/grey");
@import url("./colors/violet");

.search-input {
    border: 1px solid var(--grey5);
    background: var(--grey6);
    border-radius: 5px;
    padding: 1.0rem;
    color: white;
    font-family: inherit;
    max-width: 100%;
    padding-left: 3.6rem;
    width: 100%;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper svg {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

/* Styles for input focus */
.input--focused .typing-text {
    position: absolute;
    top: 50%;
    left: 4rem;
    transform: translateY(-50%);
    user-select: none;
    font-size: 1.2rem;
}


.input--focused input {
    border: 1px solid var(--violet6);
    border-radius: 5px;
    padding-left: 9.2rem;
}

.input--focused .typing-text span{
    color: var(--violet6);
}

.input--focused svg {
    color: var(--violet6) !important;
}

.input--focused input::placeholder{
    color: var(--grey3)
}

.input--collapsed {
    width: 4.5rem;
}
.input--collapsed svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}