.sport {
    margin-top: 1rem;
}
.sport__header {
    background: var(--grey6);
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.sport__header-tabs {
    display: inline-block;
}

.sport__header button {
    margin: 0 .4rem;
}

@media all and (max-width: 500px) {
    .sport__header button  {
        margin: 0 .2rem;
    }
}