

.sport {
    margin-top: 1rem;
}
.sport__header {
    background: var(--grey6);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.sport__header-tabs {
    display: inline-block;
}

.sport__header button {
    margin: 0 .4rem;
}

/* Calendar styles */

.react-datepicker-popper {
    z-index: 500;
}

.react-datepicker{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--grey6);
    border-radius: 10px;
    padding: 2rem;
    border: 1px solid var(--grey5);
    user-select: none;
    color: white;
    font-size: 1.4rem;
}

.react-datepicker__day {
    display: inline-block;
    padding: 8px 5px;
    margin: .6rem;
    width: 3.6rem;
    height: 3.6rem;
    text-align: center;
    cursor: pointer;
}

.react-datepicker__day--selected {
    background: var(--violet6);
    border-radius: 100px;
}

.react-datepicker__day--outside-month {
    opacity: 30%;
}

.react-datepicker__header--custom .react-datepicker__header {
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.react-datepicker__header--custom .react-datepicker__header .nextprev-btns {
    display: flex;
    align-items: center;
}

.react-datepicker__header--custom .react-datepicker__header .nextprev-btns div {
    margin-left: 1.5rem;
    cursor: pointer;
}

.react-datepicker__header--custom .react-datepicker__header > p {
    font-size: 1.5rem;
    font-weight: 600;
}

.react-datepicker__day-names{
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
}

.react-datepicker__day-name {
    text-align: center;
    width: 3rem;
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.react-datepicker__current-month {
    margin-bottom: 2rem;
}

.react-datepicker__input-container {
    display: flex;
}

.react-datepicker__close-icon{
    background: transparent;
    font-family: inherit;
    font-size: 1.2rem;
    border: 0;
    outline: none;
    color: white;
    cursor: pointer;;
}

.sport__body {
    min-height: 30rem;
}

@media all and (max-width: 500px) {

    .sport__header-tabs{
        /* overflow-x: scroll; */
        margin-bottom: 10px;
    }
    .sport__header-tabs{
        display: block;
        margin-bottom: 15px;
    }

    .sport__header {
        overflow-x: scroll;
    }

    .sport__header::-webkit-scrollbar {
        height: 1px;
        border-radius: 15px;
      }
      
      .sport__header::-webkit-scrollbar-track{
        background: transparent;
      }
      
      .sport__header::-webkit-scrollbar-thumb {
        background: var(--violet6);
      }
      
      .sport__header::-webkit-scrollbar-thumb:hover {
        background: var(--violet6);
      }

    .sport__header {
        padding: 1rem 0;
        margin-bottom: 0;
    }

    .sport__header button  {
        min-width: max-content;
        margin: 0 1rem;
    }
    .react-datepicker-wrapper{
        margin-left: 10px;
    }

    .react-datepicker{
        padding: 15px 5px;
    }
    .react-datepicker__day{
        margin: 4px;
    }
}