@import "./colors/grey.css";

.tournaments__header {
  margin-bottom: 1.2rem;
}

.tournaments__body {
  min-height: 30rem;
}

.filters__container {
  display: flex;
  align-items: center;
}

.filters__container .filters__select {
  flex-basis: 36%;
}

.filters__container .filters__search {
  flex-basis: 64%;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.filters__container .filters__search button{
    margin-left: 8px;
}

.tour-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  color: white;
  align-items: center;
}

.tour-item .left {
  display: flex;
  align-items: center;
}
.tour-item .left svg {
  margin-right: 1rem;
}

.tour-item .left img {
  margin-right: 0.7rem;
}

.tour-item .right div { 
  font-size: 1.2rem;
  text-align: center;
  padding: 6px;
  border-radius: 3px;
  width: 3rem;
}

.tour-items {
  margin-bottom: 3rem;
}

.tour-items .tour-filter {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.tour-items .tour-filter p {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.tour-items .tour-filter img {
  margin-right: .5rem;
}

.select-wrapper {
  border: 1px solid var(--grey5);
  background: var(--grey6);
  border-radius: 5px;
  padding: 1rem;
  color: white;
  font-family: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.select-wrapper p {
    font-weight: 300;
    opacity: 92%;
    user-select: none;
}

.select-wrapper .left, .select-wrapper .right {
    display: flex;
    align-items: center;
}

.select-wrapper .left svg {
    margin-right: 1rem;
}

.select-wrapper .right svg {
    width: 18px;
    height: 18px;
}

.filters__select {
  position: relative;
}

.filters__select .filters__options {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  transform: translateY(100%);
}

.filters__select .filters__options .filters-options__header {
  margin: .5rem 0;
}

.filters__select .filters__options .filters-options__body {
  padding: 0 1.2rem;
  background: var(--grey6);
  border-radius: 5px;
  border: 1px solid var(--grey5);
  height: 24rem;
  overflow-y: scroll;
}

.filters-options__body::-webkit-scrollbar{
  width: 3px;
}

.filters-options__body::-webkit-scrollbar-track{
  background: var(--grey5);
  border-radius: 5px;
}

.filters-options__body::-webkit-scrollbar-thumb {
  background: var(--violet6);
}

.filters-options__body::-webkit-scrollbar-thumb:hover {
  background: var(--violet6);
}


.filter-option {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  user-select: none;
  cursor: pointer;
}

.filter-option img {
  margin: 0 .8rem 0 .3rem;
}

.filters-options__body hr {
  height: 1px;
  background: var(--grey5);
  border: 0;
}

.filter-checkbox-active {
  position: relative;
  background: transparent !important;
}

.filter-checkbox-active-inner svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media all and (max-width: 500px) {
  .filters__container, .filters__search{
    flex-direction: column;
  }

  .filters__search, .filters__search .input-wrapper, .filters__search button, .filters__select{
    width: 100%;
  }
  .filters__search, .filters__search button{
    margin: 0 !important;
  }

  .filters__search .input-wrapper {
    margin: .8rem 0;
  }
  .filters__select .filters__options .filters-options__header{
    margin: .7rem 0;
  }
}