@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Oswald:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root {
  --primary: linear-gradient(90deg, #743EE8 0%, #BF5AF2 100%);
  --secondary: #3A256A;
  --secondary-green: #20622B;
  --green: #32D74B;
  --grey: #2C2C2E;
  --red: #FF453A;
  --violet: #743EE8;
  --page-bg: #141415;
}

body {
  background: var(--page-bg);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  padding-bottom: 100px;
}

button {
  font-weight: 600;
  font-size: 1.4rem;
}

li {
  list-style-type: none;
}

input {
  background: transparent;
  border: 0;
  outline: 0;
}

a, a:hover {
  text-decoration: none;
}

a {
  color: var(--violet);
}
a:hover {
  color: #4E2D93;
}


.text-muted {
  color: #3A3A3C;
}
.fw-bold {
  font-weight: 500;
}