@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Oswald:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  background: #141415;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

:root {
  --primary: linear-gradient(90deg, #743EE8 0%, #BF5AF2 100%);
  --secondary: #3A256A;
  --secondary-green: #20622B;
  --green: #32D74B;
  --grey: #2C2C2E;
  --red: #FF453A;
  --violet: #743EE8;
}

p, button {
  font-size: 1.4rem;
}
li {
  list-style-type: none;
}